.formulario-bg {
  background-color: #19191b;
}

.formulario-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 120px;
  padding-top: 60px;
  padding-bottom: 120px;
}

.formulario-container h1 {
  color: var(--primary-text);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 12px;
}

.formulario-container p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #5a657a;
  height: 110px;
}

.formulario-container p {
  width: 619px;
  font-size: 14px;
  margin-bottom: 0px;
}

.form-nome-telefone {
  display: flex;
  gap: 30px;
}

.form-nome-telefone input {
  width: 550px;
}

.nome-label {
  padding: 8px 0px;
}

.telefone-label {
  padding: 8px 0px;
}

.email-label {
  padding: 8px 0px;
}

.mensagem-label {
  padding: 8px 0px;
}

.form label {
  display: block;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.form label::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form input {
  padding: 12px 14px;
  width: 544px;
  border-radius: 5px;
}

.form-email input {
  width: 85%;
}

.form-msg label {
  padding-bottom: 12px;
}

.form-msg {
  padding-bottom: 12px;
}

.form-msg input {
  width: 85%;
  height: 154px;
}

.form-msg textarea {
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  padding-left: 10px;
  padding-top: 12px;
  width: 85%;
}

.form-btn {
  padding: 16px 135px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.form-btn:hover {
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1400px) {
  .form-nome-telefone {
    flex-direction: column;
    display: block;
  }
  .form-btn,
  .form input {
    width: 85%;
    display: block;
  }
}

@media (max-width: 768px) {
  .formulario-container {
    padding: 40px 0 40px 40px;
  }

  .form-nome-telefone {
    flex-direction: column;
    width: 100%;
    display: block;
    padding-bottom: 0px;
  }

  .form input {
    width: 95%;
    display: block;
  }

  .form-btn,
  .form-msg textarea {
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    width: 95%;
  }

  .nome-label {
    padding: 8px 0px;
  }

  .telefone-label {
    padding: 8px 0px;
  }

  .email-label {
    padding: 8px 0px;
  }

  .mensagem-label {
    padding: 8px 0px;
  }
}

@media (max-width: 414px) {
  .formulario-container {
    padding: 20px;
  }

  .formulario-container h1 {
    padding-bottom: 4px;
  }

  .formulario-container p {
    font-size: 14px;
  }

  .form-btn,
  .form input {
    padding: 12px 14px;
    width: 375px;
    border-radius: 5px;
  }

  .form textarea {
    width: 375px;
  }
}

@media (max-width: 375px) {
  .formulario-container {
    padding: 20px;
  }

  .formulario-container h1 {
    font-size: 28px;
  }

  .formulario-container p {
    display: none;
  }

  textarea,
  input {
    max-width: 345px;
  }

  .form-msg input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  .form-btn {
    padding: 0px;
    width: 345px;
    font-size: 18px;
    height: 58px;
  }
}
