.modal-container {
  height: 100vh;
  width: 100%;
  background-color:  rgb(0,0,0,.5);
  display: none;
  padding-top: 180px;
  justify-content: center;
  align-items: flex-start;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.ativo {
  display: flex;
}

.modal-container.ativo {
  animation: modal .3s forwards;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.menu-modal {
  padding: 10px 24px;
  background-color: #19191B;
  height: 400px;
  max-width: 500px;
  border-radius: 5px;
}

[data-modal="fechar"] {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  padding: 10px 12px;
  cursor: pointer;
}

.img-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}

.menu-modal form {
  color: #fff;
  width: 400px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 20px 60px;
}

.menu-modal form label {
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-modal form input {
  padding: 12px;
  border-radius: 5px;
}

.menu-modal input:hover{
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #0076CB;
}

.btn-submit {
  display: flex;
  color: #fff;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 12px 24px;
  border-radius: 12px;
  max-width: 280px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
}

.btn-submit:hover {
  background: linear-gradient(112deg, #0496FF 4.62%, #0076CB 95.38%);
}

.btn-cadastre {
  display: flex;
  padding-top: 20px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  justify-content: center;
}

.btn-cadastre:hover {
  color: #0496FF;
  transition:  1ms linear 1ms;
}

