.nossoclientes-bg {
  background-color: #19191b;
}

.nossoclientes {
  max-width: 1440px;
  padding-top: 65px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.header-client h1 {
  padding-left: 120px;
  font-size: 48px;
  color: #fff;
  font-family: "inter", sans-serif;
  padding-bottom: 70px;
}

/* SLIDER */

.swiper {
  margin: 0 auto;
  height: 460px;
  max-width: 1200px;
  cursor: grab;
  padding-left: 170px;
}

.swiper-button-prev {
  position: absolute;
  top: 120px; 
  left: 170px;
}

.swiper-button-next {
  position: absolute;
  left: 1146px;
}

@media (min-width: 375px) {
  .swiper-button-next {
    position: absolute;
    top: 120px;
    right: 10px;
  }

  .swiper-button-prev {
    left: 0px;
  }

  .swiper {
    padding-left: 0;
  }
}

/* SLIDER */

.clientes-main-1 h3 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  line-height: 33.89px;
  padding: 14px 0px;
}

.clientes-main-1 p {
  color: #5a657a;
  font-family: "Inter", sans-serif;
  width: 352px;
  height: 150px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 768px) {
  .nossoclientes {
    max-width: 768px;
    padding-bottom: 0px;
    padding-right: 0px;
  }

  .header-client h1 {
    padding-left: 20px;
  }

  .cliente {
    margin-left: 20px;
  }

  .swiper {
    padding-left: 0;
  }

  .swiper-button-prev {
    left: 0px;
  }
}

@media (max-width: 414px) {
  .nossoclientes-bg {
    background-color: #19191b;
    padding: 0px;
  }

  .nossoclientes {
    padding-top: 20px;
  }

  .header-client {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-client h1 {
    padding-bottom: 20px;
  }

  .clientes-flex {
    display: flex;
    margin: 20px;
  }

  .swiper {
    padding-left: 0;
  }

  .swiper-button-prev {
    left: 0px;
  }
}

@media (max-width: 375px) {
  .nossoclientes {
    padding-top: 0px;
    padding-bottom: 4px;
  }

  .header-client h1 {
    font-size: 28px;
    padding-bottom: 24px;
    line-height: 58.08px;
  }

  .clientes-flex p {
    max-width: 343px;
    color: #ffffffb2;
  }

  .swiper {
    padding-left: 0;
  }

  .swiper-button-prev {
    left: 0px;
  }
}
