.bg-section {
  background-color: #19191B;
}

.section-flex {
  max-width: 1440px;
  padding-top: 40px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 80px;
  padding-right: 40px;
  justify-content: space-between;
  overflow-x: hidden;
}

.conteudo {
  padding-left: 120px;
  animation: animeRight 2s forwards;
}


@keyframes animeRight {
  from {
    opacity: 0;
    transform: translate3d(-90px ,0 , 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.conteudo h1 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 12px;
}

.img-hero {
  width: 543px;
  height: 360px;
  animation: animeLeft 2s forwards;
}


@keyframes animeLeft {
  from {
    opacity: 0;
    transform: translate3d(90px ,0 , 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.conteudo p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 27.2px; 
  width: 535px;
}

@media (max-width: 768px) and (max-width: 1200px) {
  .section-flex {
    display: grid;
    grid-template-columns: 1fr;
  }

  .conteudo {
    padding-bottom: 24px;
    padding-left: 40px;
  }

  .bg-section {
    padding-left: 20px;
  }

  .img-hero img {
    max-width: 730px;
    padding-left: 40px;
  }
}

@media (max-width: 414px ) {
  .bg-section {
    height: 550px;
  }

  .section-flex {
    display: grid;
    grid-template-columns: 1fr ;
  }

  .conteudo h1 {
    font-size: 28px;
  }

  .conteudo p {
    width: 343px;
  }

  .img-hero img {
    max-width: 343px;
    margin-bottom: 60px;
  }
}

@media (max-width: 375px ) {
  .bg-section {
    max-width: 375px;
    height: 580px;
  }

  .section-flex {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr ;
  }

  .conteudo {
    padding-left: 20px;
  }

  .conteudo h1 {
    font-size: 24px;
  }

  .conteudo p {
    max-width: 32ch;
  }

  .img-hero img {
    margin-bottom: 0px;
    max-width: 343px;
    padding-left: 20px;
  }
}